<!DOCTYPE html>
<html lang=fa>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico> <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.13.0/css/all.css
        integrity=sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V crossorigin=anonymous>
    <title>news-map-front</title>
    <link href=/css/chunk-286d98a8.53316d16.css rel=prefetch>
    <link href=/css/chunk-e29dcab0.7dc8ab53.css rel=prefetch>
    <link href=/js/chunk-286d98a8.159edd15.js rel=prefetch>
    <link href=/js/chunk-2d0c498f.f24be706.js rel=prefetch>
    <link href=/js/chunk-344b43d5.4eb2bf92.js rel=prefetch>
    <link href=/js/chunk-e29dcab0.57d00877.js rel=prefetch>
    <link href=/css/app.70ad3879.css rel=preload as=style>
    <link href=/css/chunk-vendors.839e54ee.css rel=preload as=style>
    <link href=/js/app.a47ecc8c.js rel=preload as=script>
    <link href=/js/chunk-vendors.7e1e5bff.js rel=preload as=script>
    <link href=/css/chunk-vendors.839e54ee.css rel=stylesheet>
    <link href=/css/app.70ad3879.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but news-map-front doesn't work properly without JavaScript enabled. Please enable
            it to continue.</strong></noscript>
    <div id=app></div>
    <script src=/js/chunk-vendors.7e1e5bff.js> </script> <script src=/js/app.a47ecc8c.js> </script> </body> </html>
