<!DOCTYPE html>
<html lang=fa>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico> <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.13.0/css/all.css
        integrity=sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V crossorigin=anonymous>
    <title>news-map-front</title>
    <link href=/css/chunk-199daca3.8e2b375c.css rel=prefetch>
    <link href=/css/chunk-7a379326.53316d16.css rel=prefetch>
    <link href=/css/chunk-a62d3944.e86b86cc.css rel=prefetch>
    <link href=/js/chunk-199daca3.2cd7c012.js rel=prefetch>
    <link href=/js/chunk-2d0c498f.f24be706.js rel=prefetch>
    <link href=/js/chunk-344b43d5.4eb2bf92.js rel=prefetch>
    <link href=/js/chunk-7a379326.73cb55f1.js rel=prefetch>
    <link href=/js/chunk-a62d3944.fa1e9d6e.js rel=prefetch>
    <link href=/css/app.73d7b544.css rel=preload as=style>
    <link href=/css/chunk-vendors.3579b3bf.css rel=preload as=style>
    <link href=/js/app.62452b81.js rel=preload as=script>
    <link href=/js/chunk-vendors.d4d1def4.js rel=preload as=script>
    <link href=/css/chunk-vendors.3579b3bf.css rel=stylesheet>
    <link href=/css/app.73d7b544.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but news-map-front doesn't work properly without JavaScript enabled. Please enable
            it to continue.</strong></noscript>
    <div id=app></div>
    <script src=/js/chunk-vendors.d4d1def4.js> </script> <script src=/js/app.62452b81.js> </script> </body> </html>
