// @import './libs/resetAndHelpers.styl'
@import './components'
*
    // border 1px #ff000070 dashed
//     transition: all 0.5s ease
* , *:focus
    outline: none;
    -webkit-tap-highlight-color: transparent;

*::-webkit-scrollbar {
    width: 12px
	background-color: #F5F5F5
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	border-radius: 10px
	background-color: #F5F5F5
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
	background-color: #555
}

// IranSans FONT
@font-face 
    font-family: iranSans
    font-style: normal
    font-weight: normal
    src: url('/fonts/iranSans/eot/IRANSansWeb.eot')
    src: url('/fonts/iranSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('/fonts/iranSans/woff2/IRANSansWeb.woff2') format('woff2'),
    url('/fonts/iranSans/woff/IRANSansWeb.woff') format('woff'),
    url('/fonts/iranSans/ttf/IRANSansWeb.ttf') format('truetype')

body 
    font-family: iransans
    background: #f4f3fb
    color: #8d96ac
a
    text-decoration: none
    color: inherit;
